body {
    background-color: #272822; /* Cinza Monokai */
    color: #f8f8f2;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    text-align: center;
    border: 1px solid #49483e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 7%;
    
    
}

.conteudo-resultado{
    width: 95%;
    padding: 30px;
    border-radius: 20px;
    background-color: #f8f8f2;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    width: 50%;
}


