body {
    background-color: #272822; /* Cinza Monokai */
    color: #f8f8f2;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    margin: 20px;
    background: #3e3d32;
    padding: 10px;
    border-radius: 8px;
}

.menu a {
    color: #a6e22e; /* Verde limão */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #f92672; /* Rosa/Magenta */
}

.container {
    width: 80%;
    text-align: center;
    border: 1px solid #49483e;
    padding: 20px;
    border-radius: 10px;
}